@model IEnumerable<WebTestVersta.Models.Order>

<!DOCTYPE html>
@*<html>
    </html>*@
<div class="text-center">
    <h2>@ViewData["Title"]</h2>
    <div class="order-list">
        <table>
            <tr>
                @*<th>Id</th>*@
                <th>Номер заказа</th>
                <th>Город отправителя</th>
                <th>Город получателя</th>
                <th>Вес груза</th>
                <th>Дата забора груза</th>
                <th>Управление</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>@item.Id</td>*@
                    <td>@item.OrderNum</td>
                    <td>@item.Sender.SenderCity</td>
                    <td>@item.Rec.RecCity</td>
                    <td>@item.CargoWeight</td>
                    <td>@item.ReturnDateToDisplay</td>
                    <td>
                        @Html.ActionLink("Подробнее", "OpenReadOnly", item)
                        @Html.ActionLink("Удалить", "Delete", item)
                    </td>
                </tr>
            }
        </table>

    </div>
</div>
@*<div class="text-center" style="background-color: white; margin: 4px 0px 0px 0px; height: 20px"></div>*@

<div class="text-left" style="margin: 4px 0px 0px 0px; background-color: aquamarine; ">
    @Html.ActionLink("Создать новый заказ", "CreateOrder")
</div>
